########################################
# Gradle
########################################
.gradle/
build/
**/build/

########################################
# IntelliJ IDEA
########################################
.idea/
*.iml
out/

########################################
# OS
########################################
.DS_Store
Thumbs.db

########################################
# Appium / Test artifacts
########################################
screenshots/
videos/
*.log

########################################
# Allure reports
########################################
allure-results/
allure-report/

########################################
# Local / secrets
########################################
local.properties
.env
